h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid #333;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #333;
}
th {
    background-color: #333;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
a {
    color: #005580;
    text-decoration: none;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color:dodgerblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
button:hover {
    background-color:gray ;
}
input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    width: 80%;
    margin: 20px auto;
    display: block;
}
